<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.feature_examples">

    <application>
        <activity
            android:name="feature.examples.screensnavigation.ScreenNavigationSecondActivity"
            android:exported="false" />
        <activity
            android:name="feature.examples.screensnavigation.ScreensNavigationFirstActivity"
            android:exported="false" />
        <activity
            android:name="feature.examples.recyclerview.presentation.home.ExampleSplashActivity"
            android:exported="true" />
    </application>

</manifest>