<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="feature.conversordemoedas">

    <application>
        <activity
            android:name=".CoinConversionActivity"
            android:exported="false" />
    </application>

</manifest>