<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="feature.marvelapi">

    <application>
        <activity
            android:name=".presentation.home.activity.MarvelHomeActivity"
            android:exported="false" />
    </application>

</manifest>