<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="feature.multimoduleapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="feature.app.di.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MultiModuleApp">
        <activity android:name="feature.app.presentation.UnderConstructionFeatActivity" />
        <activity android:name="feature.ricky.presentation.home.RickyHomeActivity" />
        <activity android:name="feature.examples.recyclerview.presentation.home.ExamplesRecyclerHomeActivity" />
        <activity android:name="feature.examples.recyclerview.presentation.home.ExampleRecyclerDetailsActivity" />
        <activity android:name="feature.dogs.presentation.home.DogsHomeActivity" />
        <activity android:name="feature.marvelapi.presentation.MarvelHomeActivity" tools:replace="android:theme" android:theme="@style/MarvelThemes"/>

        <activity
            android:name="feature.app.presentation.home.MainHomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>