<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="feature.feature_dogs">

    <application>
        <activity
            android:name="feature.dogs.presentation.details.DogDetailActivity"
            android:exported="false" />
    </application>

</manifest>